.VidCard {
  display: flex;
  height: 9.4rem;
  margin-bottom: 1rem;
  &__img-box {
    width: 16.8rem;
    height: 100%;
    background: red;
  }
  &__info {
    padding: 0.5rem;
    line-height: 1.8rem;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(3, 3, 3);
    cursor: pointer;
    letter-spacing: 0.025rem;
    margin-bottom: 0.4rem;
  }
  &__owner {
  }
  &__info-sup {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(96, 96, 96);
    &__views {
    }
  }
}
