@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.cvh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv{
  display: flex;
  align-items: center;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}
